body {
  margin: 0;
  background-color: #0cf3a6;
  color: #af2d2d;
  font-family: sans-serif;
}

.hero {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
}