body {
  margin: 0;
  background-color: #ffffff;
  color: #af2d2d;
  font-family: sans-serif;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  z-index: 100;
  color: #e62828;
}